<ul class="list-unstyled list-border-height">
	<li class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="li_{{ $index }}" data-ng-repeat="data in plist" style="background:url({{ data.product_img }}) no-repeat; background-size:100%;">
		<div class="overlay">
			<div class="contentpanel">
				<div class="contentani">
				<!-- fa-envelope fa-group  fa-lock fa-film  fa-money fa-envelope-->
					<h3><i ng-class="cssFilter(data.msgtype)"></i> {{ data.product_name }}</h3>
					<span>{{ data.shortdesc }}</span>
				</div>
				<span class="pull-right actionpanel">
					<a href="javascript:void(0);" class="fa fa-folder-open" data-ng-click="openaction({p:data.product_name})"></a>
					<a href="javascript:void(0);" class="fa fa-print" data-ng-click="printaction({p:data.product_name})"></a>
					<a href="javascript:void(0);" class="fa fa-close" data-ng-click="deleteaction({id: $index+1})"></a>
				</span>
			</div>
		</div>
	</li>
</ul>